@mixin img-overlay-md{
    left: 39px;
    width: 86px;
    background-color: rgba(0, 0, 0, 0.7);
    &::after{
        content:"";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px $primary solid;
    }
}

@mixin set-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin square-box($width:10px,$height:10px){
    width: $width;
    height: $height;
}

